<div class="todo-container">
  <h2>Todo List</h2>

  <form (submit)="addTodo(); $event.preventDefault()">
    <input type="text" [(ngModel)]="newTodoTitle" name="title" placeholder="New task..." required>
    <button type="submit">Add</button>
  </form>

  <ul>
    <li *ngFor="let todo of todos;">
      <input type="checkbox" [(ngModel)]="todo.isComplete" (ngModelChange)="toggleComplete(todo)">
      <span [ngClass]="{done: todo.isComplete}">{{ todo.title }}</span>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  </ul>
</div>